* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html {
   margin: 0;
   padding: 0;
}

body {
   box-sizing: border-box;
   font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
   font-weight: 400;
   line-height: 1.5;
   background-color: #f3f3f5;
}

/**************************DISABLING SCROLLING **********************/
.disableScroll{
      overflow-y: hidden;
      overflow-y: hidden;
}

/****************************DISABLING SCROLLING ENDS ******************/


/************************* INTRO *****************************************/

#intro {
   position: fixed;
   width: 100%;
   height: 100%;
   background: #f3f3f5;
   overflow: hidden;
   cursor: url(../img/cursor.png), pointer;
   margin: 0;
   padding: 0;
   left: 0;
   top: 0;
   transition: all 1s ease-in-out;
   z-index: 99;

}

#background-op {
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 0.5;
   transition: all 3s ease-in-out;
   background: #f3f3f5;
   margin: 0;
   padding: 0;
   z-index: 100;
}

#intro figure {
   position: absolute;
   width: 100%;
   height: 100%;
   background-image: url(../img/intro.jpg);
   background-position: center;
   background-size: cover;
   margin: 0;
   padding: 0;
   transform: scale(1.3);
   transition: all 3s ease-in-out;
   z-index: 99;
}


#intro h1 {
   position: absolute;
   z-index: 101;
   width: 100%;
   display: inline-block;
   bottom: -100px;
   margin: 0;
   padding: 0;
   transition: all 1.5s ease-in-out;
   text-align: center;
   padding: 10px 0;
}
/******************INTRO ENDS **************************************/

#navBar {
   display: none;
   height: 52px;
   width: 100%;
   background-color: #FFF;
   margin: 0;
   padding: 0;
   position: fixed;
   top:0;
   left: 0px;
   z-index: 96;
   border-bottom: 1px solid rgba(100,100,100,0.3);
   transition: all 0.40s ease-in-out;
}

#navBar h1 {
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.menu {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   left: 0;
   width: 90px;
   cursor: pointer;
}

#menu-icon {
   font-size: 20px;
   margin-left: 25px;
}

.menu span {
   margin-left: 10px;
   font-size: 10px;
   letter-spacing: 2px;
   opacity: 0;
   transition: all 250ms cubic-bezier(.25,.46,.45,.94);
}

.menu:hover .menuText{
      opacity: 1;
      font-weight: 400px;
}

.shopingList {
   position: absolute;
   display: flex;
   align-items: center;
   top: 13px;
   right: 40px;
   width: 60px;
   height: 24px;
   cursor: pointer;
}

.shopingList span {
   margin: 0;
   padding: 0;
   font-size: 10px;
   letter-spacing: 2px;
   margin-right: 10px;
   opacity: 0;
   transition: all 250ms cubic-bezier(.25,.46,.45,.94);
}

.shopingIcon {
   background-color: #f3f3f5;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   margin: 0px;
   padding: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
   font-weight: 600;
}
.shopingList:hover .shopingText{
      opacity: 1;
      font-weight: 600px;
}
/***************SLIDE MENU **********************/

.slideMenu h6 {
   letter-spacing: 4px;
   display: inline-block;
   position: relative;
   left: 40px;
   font-size: 0.8rem;

}

.slideMenu {
   position: fixed;
   top: 0;
   display: block;
   background-color: #1d1d1f;
   margin: 0;
   padding: 0;
   width: 280px;
   height: 100vh;
   left: -280px;
   z-index: 201;
   transition: all 0.40s ease-in-out;
   color: white;
   letter-spacing: 2px;
}

.slideMenu ul {
   list-style-type: none;
}

.slideMenu li {
   margin-top: 30px;
   font-size: 0.7rem;
   color: rgba(156,156,156,1);
}

#customerCare {
   margin-top: 70px;
}

#background {
   background-color: #1d1d1f;
   opacity: 0.4;
   transition: all 500ms cubic-bezier(.25,.46,.45,.94);
}


.slideMenuBackGround {
   position: fixed;
   top: 0;
   right: 0;
   width: 100vw;
   height: 100vh;
   z-index: 200;
}


/***************SLIDE MENU ENDS **********************/



/***************FOOTER**************************/

footer {
   height: 54px;
   width: 100%;
   margin: 0;
   padding: 0;
   bottom: 0px;
   position: fixed;
   background-color: rgba(243, 243, 245, 0.3);
}

.displayButtons {
   height: 100%;
   display: flex;
}

.displayButtons #menuMainDisplay {
   width: 54px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-style: solid;
   border-color: #FFF;
   border-width: 1px 1px 1px 1px;
}

/***************FOOTER ENDS**************************/



/****************MAIN STARTS**************************/

main {
   position: absolute;
   top: 0;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   transition: all 0.40s ease-in-out;
}

.PicsContainer {
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
}

.box img {
   width: 300px;
   height: 300px;
   margin: 0;
   padding: 0;
}

/*****************MAIN ENDS*****************************/
